.order{
	position: fixed;
	display: flex;
	flex-direction: column;
	top:80px;
	left:0;
	background: #fff;
	width: 380px;
	height: calc(100% - 80px);
	box-shadow: 3px 4px 5px rgba(0,0,0,0.25);
	padding: 20px;
}

.order-title{
	text-align: center;
	margin-bottom: 30px;
}

.order-total{
	display: flex;
	margin-bottom: 15px;
}
.order-total span{
	margin: 0 35px 10px;
	flex-grow: 1;
}

.order-content{
	flex-grow: 1;
}